/* Importar desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
:root{
    --color_dorado_01: #CF7500;
    --color_dorado_02: #F0A500;
    --color_dorado_claro01: #B8860B;
    --color_dorado_claro02: #A35709;
    --color_marron: #4F200D;
    --color_marron_claro: #6A492B;
    --color_sin_stock: rgba(0,0,0,0.5);
}
/* Aplicar la fuente */
body {
  font-family: 'Libre Baskerville', serif;
}
*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/*menu del navegador*/
#encabezado{
    padding: 1em 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    background-color: #000000!important;
}

#encabezado img{
    width: 7em;
    height: auto;
}

#imagen-usuario{
    color: var(--color_dorado_claro01);
    font-size: 3em;
}

/*Contenedor de método de pago*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    min-height: 100vh;
    background: radial-gradient(#333, #222)
  }
  
  .container form{
    padding:20px;
    width:700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
  }
  
  .container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
  }
  
  .container form .row .col{
    flex:1 1 250px;
  }
  
  .container form .row .col .title{
    font-size: 20px;
    color:#333;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  
  .container form .row .col .inputBox{
    margin:15px 0;
  }
  
  .container form .row .col .inputBox span{
    margin-bottom: 10px;
    display: block;
  }
  
  .container form .row .col .inputBox input{
    width: 100%;
    border:1px solid #ccc;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
  }
  
  .container form .row .col .inputBox input:focus{
    border:1px solid #000;
  }
  
  .container form .row .col .flex{
    display: flex;
    gap:15px;
  }
  
  .container form .row .col .flex .inputBox{
    margin-top: 5px;
  }
  
  .container form .row .col .inputBox img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
  }
  
  .container form .submit-btn{
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: #27ae60;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .container form .submit-btn:hover{
    background: #2ecc71;
    color: #000;
  }